@{
    Layout = "~/Views/Shared/_SPA.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" />
            </div>            
        </div>
    </form>

</div>

<div id="result">
    <ul id="messages"></ul>
</div>
